@import "../modules/all";
@import "../modules/colors";

.footer {
  background-color: $mainDarkColor;
  height: 7rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}